<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="sidebar">
    <ng-include src="'views/partials/sidebar.html'"></ng-include>
</div>
<div class="dash-content">
    <div class="container-fluid">
        <!--DASH CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1><strong>Goals</strong></h1>
                    </div>
                    <div class="panel-heading">
                        <div class="col-md-2 col-md-offset-1">
                            <h3><strong>S</strong>pecific</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>M</strong>easurable</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>A</strong>chievable</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>R</strong>ealistic</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>T</strong>ime-bound</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">Description</th>
                                            <th>Category</th>
                                            <th class="col-md-2">Priority</th>
                                            <th>Due Date</th>
                                            <th class="col-md-2">Status</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-striped">
                                        <tr ng-repeat="task in tasks">
                                            <td>
                                                <input type="text" class="form-control" placeholder="Description" ng-model="task.description">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Category" ng-model="task.category">
                                            </td>
                                            <td>
                                                <select class="form-control"  ng-class="{low:'low', medium:'medium', 'high':'high'}[task.priority]" ng-model="task.priority">
                                                    <option class="low" value="low">Low</option>
                                                    <option class="medium" value="medium">Medium</option>
                                                    <option class="high" value="high">High</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="task.due_date">
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="task.status">
                                                    <option value="new">Not Started</option>
                                                    <option value="in_progress">In Progress</option>
                                                    <option value="completed">Completed</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="delete_task($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="panel-footer">
                                    <button class="btn btn-primary" ng-click="new_task()">Add Task</button>
                                    <button class="btn btn-success" ng-click="save()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
