<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="sidebar">
    <ng-include src="'views/partials/sidebar.html'"></ng-include>
</div>
<div class="dash-content">
    <div class="container-fluid">
        <!--DASH CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1><strong>Goals</strong></h1>
                        <div class="col-md-2 col-md-offset-1">
                            <h3><strong>S</strong>pecific</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>M</strong>easurable</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>A</strong>chievable</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>R</strong>ealistic</h3>
                        </div>
                        <div class="col-md-2">
                            <h3><strong>T</strong>ime-bound</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6" ng-repeat="goal in goals">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center goal-heading">
                                     <h3><strong>{{goal.title}}</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            0<span class="pull-right">{{goal.max_value}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped active" ng-class="complete(goal) ? 'progress-bar-success' : ''" role="progressbar"
                                                aria-valuenow="{{goal.current_value}}" aria-valuemin="0" aria-valuemax="{{goal.max_value}}" style="width:{{get_percent(goal)}}%">
                                                    <p class="progtext">
                                                        {{goal.current_value}} {{goal.units}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row" style="font-family:monospace;">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success" ng-click="add_to_current(goal,1)">+1</button>
                                                    <button class="btn btn-success" ng-click="add_to_current(goal,5)">+5</button>
                                                    <button class="btn btn-success" ng-click="add_to_current(goal,10)">+10</button>
                                                    <button class="btn btn-success" ng-click="add_to_current(goal,50)">+50</button>
                                                </div>
                                            </div>
                                            <div style="height:10px;"></div>
                                            <div class="row" style="font-family:monospace;">
                                                <div class="col-md-12">
                                                    <button class="btn btn-danger" ng-click="add_to_current(goal,-1)">-1</button>
                                                    <button class="btn btn-danger" ng-click="add_to_current(goal,-5)">-5</button>
                                                    <button class="btn btn-danger" ng-click="add_to_current(goal,-10)">-10</button>
                                                    <button class="btn btn-danger" ng-click="add_to_current(goal,-50)">-50</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel event-log">
                                                <div class="panel-body">
                                                    <p ng-repeat="line in goal.event_log">
                                                        <strong>{{line}}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon"><strong>Title</strong></span>
                                                <input type="text" class="form-control input-sm" ng-model="goal.title">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon"><strong>Units</strong></span>
                                                <input type="text" class="form-control input-sm" ng-model="goal.units">
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:10px;"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon"><strong>Current Progress</strong></span>
                                                <input type="number" class="form-control input-sm" ng-model="goal.current_value">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon"><strong>Target Value</strong></span>
                                                <input type="number" class="form-control input-sm" ng-model="goal.max_value">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" ng-click="new_goal()">Add Goal</button>
                        <button class="btn btn-success" ng-click="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
