<div class="container">
    <div class="row">
        <br>
        <h1 class="text-center">Your Personal Dashboard</h1>
        <h4 class="text-center">to do... well, whatever <strong><em>you</em></strong> want it to</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body placeholder-text">
                    <p>Lorem ipsum dolor sit amet, cu alii perfecto nam. Eu quot putent molestiae vis, vim appetere insolens signiferumque cu. Graeco alienum mei et, eam fierent commune definitiones no. Ad everti minimum.</p>

                    <p>Vel adhuc possim meliore te, ex etiam audire debitis eos. Facilisi electram maiestatis ex sed, modus lucilius sed ex, sea ad tota habeo blandit. Percipit electram ad vim. No quo dolorem platonem oportere, quodsi dissentias theophrastus ut nec, unum dicat urbanitas no eos. Nam labores appareat reprehendunt no, duo in debet verear adipiscing.</p>

                    <p>Duo semper accumsan ei, solum verterem convenire ius et. Mucius placerat splendide cu eum. Dico paulo ne ius, tamquam explicari adolescens nam ut. Ne melius volumus mel, vix tempor urbanitas ei, ex nam quod voluptua.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body placeholder-text">
                    <p>Lorem ipsum dolor sit amet, cu alii perfecto nam. Eu quot putent molestiae vis, vim appetere insolens signiferumque cu. Graeco alienum mei et, eam fierent commune definitiones no. Ad everti minimum.</p>

                    <p>Vel adhuc possim meliore te, ex etiam audire debitis eos. Facilisi electram maiestatis ex sed, modus lucilius sed ex, sea ad tota habeo blandit. Percipit electram ad vim. No quo dolorem platonem oportere, quodsi dissentias theophrastus ut nec, unum dicat urbanitas no eos. Nam labores appareat reprehendunt no, duo in debet verear adipiscing.</p>

                    <p>Duo semper accumsan ei, solum verterem convenire ius et. Mucius placerat splendide cu eum. Dico paulo ne ius, tamquam explicari adolescens nam ut. Ne melius volumus mel, vix tempor urbanitas ei, ex nam quod voluptua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
