<div class="container-fluid">
    <div class="login-panel">
        <div class="login-header">
            <h2>Sign in to <strong>You Do You</strong></h2>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon entry-title">
                            <span class="glyphicon glyphicon-user"></span> Email
                        </span>
                        <input type="text" ng-model="inputEmail" class="form-control input-sm" placeholder="email@example.com" name="accountEmail">
                    </div>
                    <br />
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon entry-title">
                            <span class="glyphicon glyphicon-lock"></span> Password
                        </span>
                        <input type="password" ng-model="inputPassword" class="form-control input-sm" name="accountPassword">
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm login-btn" ng-click="">Sign in <span class="glyphicon glyphicon-ok"></span></button>
            </div>
            <div class="panel-footer">
                <p>
                    Forgot your password? <a href="/">Reset it!</a>
                </p>
            </div>
        </div>
    </div>
</div>