<ng-include src="'views/partials/navbar.html'"></ng-include>
<div class="sidebar">
    <ng-include src="'views/partials/sidebar.html'"></ng-include>
</div>
<div class="dash-content">
    <div class="container-fluid">
        <!--DASH CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1><strong>Tasks</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Priority</th>
                                            <th>Due Date</th>                                            
                                            <th>Status</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-striped">
                                        <tr ng-repeat="task in tasks">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="delete_task($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="panel-footer">
                                    <button class="btn btn-primary" ng-click="new_task()">Add Task</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
