/* Custom CSS */

/* Navbar */
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar { position: relative; }
.navbar .navbar-right > li:nth-last-child(2) { padding-left: 22px; }
.navbar .navbar-right > li:last-child { padding-left: 12px;}

#signup-btn {
    background-color: #333;
    color: #eee;
}
.navbar.navbar-inverse { background-color: #222; }
.navbar>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-right > li:nth-last-child(2) { padding-left: 15px; }
    .navbar .navbar-right > li:last-child { padding-left: 10px; padding-right: 15px; }

    .navbar { margin: 7.5px auto; padding: 0; }
    .navbar { margin: 0; }
    .navbar>li { float: none; }
}

/* Login */
.login-panel {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    max-width: 600px;
}

.login-header {
    padding: 10px 0;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.login-btn {
    width: 100%;
}
.entry-title {
    width: 100px;
}