/* Custom CSS */

@font-face {
    font-family: "Redacted";
    src: url("../fonts/redacted-regular.eot");
    src: url("../fonts/redacted-regular.woff2") format("woff2"),
         url("../fonts/redacted-regular.woff") format("woff"),
         url("../fonts/redacted-regular.otf") format("opentype"),
         url("../fonts/redacted-regular.svg#filename") format("svg");
}

.placeholder-text {
    font-family: "Redacted";
    color: lightgrey;
}

/* Navbar */
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar { position: relative; }
.navbar .navbar-right > li:nth-last-child(2) { padding-left: 22px; }
.navbar .navbar-right > li:last-child { padding-left: 12px;}

.brighter-btn {
    background-color: #333 !important;
    color: #eee !important;
}

.navbar.navbar-inverse { background-color: #222; }
.navbar>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-right > li:nth-last-child(2) { padding-left: 15px; }
    .navbar .navbar-right > li:last-child { padding-left: 10px; padding-right: 15px; }

    .navbar { margin: 7.5px auto; padding: 0; }
    .navbar { margin: 0; }
    .navbar>li { float: none; }
}

/* Login */
.login-panel {
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

.login-header {
    padding: 10px 0;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.login-btn {
    width: 100%;
}
.entry-title {
    width: 100px;
}
.input-group {
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    padding-left: 15px;
    margin-right: 0;
    float: left;
}
.sidebar-container {
    width: 92px;
    background-color: #222;
    border: none;
}

.sidebar-btn {
    margin: 15px 15px 0 15px;
    padding: 12px 6.86px;
    background-color: #444;
    color: white;
    border-color: #666;
    text-shadow: 2px 2px #222;
}
.sidebar-btn:hover {
    color: #079;
}
.sidebar-btn-last {
    margin-bottom: 15px;
}
.sidebar-selected {
    background-color: #079;
}

.dash-content {
    padding-left: 107px;
}

select.low, select option.low {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

select.medium, select option.medium {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

select.high, select option.high {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.progress {
    height: 40px !important;
}

.progtext {
    padding-top: 10px;
}

.goal-heading {
    height: 78px;
}

.event-log {
    font-size: 10px;
    height: 75px;
    overflow-y: scroll;
}