<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" class="btn btn-lg btn-default sidebar-button">
            <span class="glyphicon glyphicon-dashboard"></span>
        </button>
        <br>
        <button type="button" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-list"></span>
        </button>
        <br>
        <button type="button" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-flag"></span>
        </button>
        <br>
        <button type="button" class="btn btn-lg btn-default">
            <i class="fa fa-money" aria-hidden="true"></i>
        </button>
        <br>
        <button type="button" class="btn btn-lg btn-default">
            <i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i>
        </button>
    </div>
</div>
