<div class="sidebar-container panel panel-default">
        <button type="button" class="sidebar-btn btn btn-lg btn-default sidebar-selected">
            <i class="fa fa-tachometer fa-fw fa-2x" aria-hidden="true"></i>
        </button>
        <br>
        <button type="button" class="sidebar-btn btn btn-lg btn-default">
            <i class="fa fa-list fa-fw fa-2x" aria-hidden="true"></i>
        </button>
        <br>
        <button type="button" class="sidebar-btn btn btn-lg btn-default">
            <i class="fa fa-flag fa-fw fa-2x" aria-hidden="true"></i>
        </button>
        <br>
        <button type="button" class="sidebar-btn btn btn-lg btn-default">
            <i class="fa fa-money fa-fw fa-2x" aria-hidden="true"></i>
        </button>
        <br>
        <button type="button" class="sidebar-btn sidebar-btn-last btn btn-lg btn-default">
            <i class="fa fa-futbol-o fa-fw fa-2x" aria-hidden="true"></i>
        </button>
</div>
